/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: slategrey;
  color: white; 
}

h1 {
  font-style: italic;
  color: #373fff;
  font-family: verdana, arial, sans-serif; 
}
button{
  padding: 10px;
  border-radius: 10px;
}
#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
}
.hidden {
  display: none;
}
#B1 {
    background: lightgreen;
}
#B2 {
    background: lightblue;
}
#B3 {
    background: pink;
}
#B4 {
    background: lightyellow;
}


#B1:active, #B1.lit{
    background:green;
}
#B2:active, #B2.lit {
    background:blue;
}
#B3:active, #B3.lit {
    background:red;
}
#B4:active, #B4.lit {
    background:yellow;
}